.nutrition-section {
  width: 100%;
  height: 731px;
  padding-bottom: 80px;
  background: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;

  .nutrition-container {
    display: flex;
    gap: 48px;
  }

  .nutrition-left {
    width: 570px;
    height: 571px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-right: 32px;

    .nutrition-title {
      font-family: 'Inter Tight', sans-serif;
      font-weight: 600;
      font-size: 40px;
      line-height: 120%;
      letter-spacing: 0.25px;
      color: #161723;
      width: 538px;
      height: 96px;
    }

    .nutrition-subtitle {
      font-family: 'Inter Tight', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.5px;
      color: #424153;
    }

    .nutrition-points {
      width: 538px;
      height: 243px;
      display: flex;
      flex-direction: column;
      gap: 16px;

      .points-title {
        font-size: 19px;
        font-weight: 600;
        color: #161723;
        letter-spacing: 0.5px;
        height: 29px;
        font-family: 'Inter Tight', sans-serif;
      }

      .point {
        display: flex;
        gap: 48px;
        align-items: flex-start;
        width: 538px;
        height: 50px;

        .point-number {
          width: 67px;
          height: 50px;
          font-size: 33px;
          font-weight: 700;
          line-height: 150%;
          letter-spacing: 0.25px;
          color: #ee6f4b;
          font-family: 'Inter Tight', sans-serif;
        }

        .point-text {
          font-size: 16px;
          font-weight: 400;
          line-height: 150%;
          letter-spacing: 0.5px;
          color: #424153;
          width: 423px;
          height: 48px;
          font-family: 'Inter Tight', sans-serif;
        }
      }
    }

    .nutrition-cta {
      width: 538px;
      height: 48px;
      padding: 12px 40px;
      border-radius: 6px;
      background: #ee6f4b;
      color: white;
      font-weight: 600;
      font-size: 14px;
      font-family: 'Inter Tight', sans-serif;
      border: none;
      cursor: pointer;
    }
  }

  .nutrition-right {
    width: 100%;
    height: 571px;

    .nutrition-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }
}
